@import "_salom";
body {
  color: aqua;
}
body {
  background-color: rgba(0, 255, 115, 0.583);
}
.undefined__ {
  text-decoration: coral;
}
.ooo {
  text-align: center;
}

.rang {
  font-size: 40px;
}
.olma {
  font-size: 50px;
}
.rrr {
  background: grey;
}
.jjj {
  text-decoration: underline;
}
.ran {
  background-color: invert($color: #12cf41);
}
